[Unit]
Description=NewRelic instrumentation for Murmur
Requires=network.target
After=network.target murmur.service

[Service]
Type=simple
Environment=NEW_RELIC_LICENSE_KEY=0123456789abcdef0123456789abcdef01234567
ExecStart=/usr/local/bin/newrelic-murmur
Restart=always

[Install]
WantedBy=multi-user.target
